<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>Dictionary</title>
    <style>
        #root_container{
            position: absolute;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        table {
            margin: 25px;
        }
        th{
            text-align: left;
        }
        th,td{
            border-bottom: 1px solid #ffffff;
        }
    </style>
</head>
<body>
<div id="root_container"  >
    <div>
        <form method="GET" th:action="@{/glossaries/shelf}">
            <td>
                <input type="submit" value="back">
            </td>
        </form>
    </div>

    <div align="center">
        <h2><td th:text="${gloss.getName}"></td></h2>
        <img class="login_item" th:src="@{/images/gloss_image.jpg}">
    </div>

    <form method="POST"  th:action="@{/glossaries/glossary/save}" th:object="${word}">
        <table border="1" cellpadding="5">
            <tr>
                <input type="hidden" th:value="${gloss.getName}" name="glossary">
                <td>
                    <input type="text" placeholder="Слово" th:field="*{name}">
                </td>
                <td>
                    <input type="text" placeholder="Определение" th:field="*{value}">
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="POST" th:action="@{/glossaries/glossary/remove}" th:object="${word}">
        <table border="1" cellpadding="5">
            <tr>
                <input type="hidden" th:value="${gloss.getName}" name="glossary">
                <td>
                    <input type="text" placeholder="Cлово" th:field="*{name}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>

    <form method="GET" th:action="@{/glossaries/glossary/search}" th:object="${word}">
        <table border="1" cellpadding="5">
            <tr>
                <input type="hidden" th:value="${gloss.getName}" name="glossary">
                <td>
                    <input type="text" placeholder="Cлово" th:field="*{name}">
                </td>
                <td>
                    <input type="submit" value="search">
                </td>
            </tr>
        </table>
    </form>

        <table border="1" cellpadding="5">
            <tr>
                <th>слово - определение</th>
            </tr>
            <tr th:each="word : ${wordsList}">
                <td th:text="${word.name + ' - ' + word.value}"></td>
            </tr>
        </table>
</div>
</body>
</html>
